form {
    background-color: #f9f9f9; /* Fondo claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
}

form input[type="submit"],
form a {
    background-color: #2b8aaf; /* Color del botón */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

form input[type="submit"]:hover,
form a:hover {
    background-color: #1f6f87; /* Color más oscuro al pasar el ratón */
}

form a {
    margin-left: 10px;
}

form input[type="checkbox"] {
    margin-right: 10px;
}

form input[type="submit"] {
    margin-right: 10px;
}
